.ion--content {
    width: 100%;
    height: 100%;
    --background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

    .ion-row-margin {
        margin: 25px 0;
    }

    .title--login {
        color: #222428;
        font-size: 45px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        @media (max-width: 467px) {
            font-size: 25px;
        }
    }

    .button--submit {
        --background: #222428;
        ion-label {
            text-transform: capitalize;
        }
    }

    .error--card {
        background-color: #EB445A;
        color: #FFF;
        font-weight: 600;
        border-radius: 4px;
        padding: 10px 15px;
    }
    .error--color {
        color: #EB445A;
    }
}
.invalidItem {
    --full-highlight-height: calc(var(--highlight-height) * var(--show-full-highlight));
    --inset-highlight-height: calc(var(--highlight-height) * var(--show-inset-highlight));
    --highlight--color-invalid: var(--ion-item-border-color,var(--ion-border-color,red));
    }