

<ion-content class="ion--content ion-no-padding">
    <ion-row class="d-flex vertical-center horizontal-center h-100 w-100">
        <ion-col size-xl="4" size-lg="6" size-md="8" size-sm="10" size-xs="12">
            <ion-card>
                <ion-card-header>
                    <ion-title class="title--login">
                        AgileMovies
                    </ion-title>
                </ion-card-header>
                <ion-card-content>
                   <ion-row class="d-flex vertical-center horizontal-center h-100 w-100">
                       <ion-col size-xl="9" size-lg="8" size-md="8" size-sm="8" size-xs="12">
                           <ion-row *ngIf="!isLoadingLogin && isErrorLogin" class="horizontal-center error--card">
                               <ion-label class="">{{errorMessage}}</ion-label>
                           </ion-row>
                    <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                        <ion-item class="ion-row-margin">
                            <ion-label>Usuario</ion-label>
                            <ion-input type="text" formControlName="username" [disabled]="isLoadingLogin" required></ion-input>
                        </ion-item>
                        <ion-item class="ion-row-margin">
                            <ion-label>Contraseña</ion-label>
                            <ion-input type="password" formControlName="password" [disabled]="isLoadingLogin" required></ion-input>
                        </ion-item>
                        <ion-col class="d-flex vertical-center horizontal-center ion-no-padding ion-row-margin">
                            <ion-button type="submit" [disabled]="isLoadingLogin" class="button--submit">
                                <ion-label *ngIf="!isLoadingLogin">Ingresar</ion-label>
                                <ion-spinner *ngIf="isLoadingLogin" name="circular"></ion-spinner>
                            </ion-button>
                        </ion-col>
                    
                    </form>
                </ion-col>
                </ion-row>
                
                </ion-card-content>
                
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>