html, body {
    height: 100%;
    box-sizing: border-box;
}

.main--container {
    --background-color: #2D3436;
    --background: linear-gradient(315deg, #2D3436 0%, #000000 74%)
}
.slider--movies {
    width: 100%;
}

.card--layout {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px 0;
    padding: 0 5px;
    
}

.text--layout {
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}

.img--layout {
    border-radius: 3px;
    max-width: 400px;
    width: 100%;
}

.title--section {
    color: #FFFFFF;
    font-size: 24px;
    padding: 30px 0;
    display: block;
    margin-left: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background--section--infinite {
    padding-bottom: 30px;

    .loading--spinner{
        --color : #FFFFFF;
    }
}

.now--img--layout {
    width: 100%;
    min-height: 150px;
    min-width: 150px;
    max-width: 400px;
}