
<app-menu-header></app-menu-header>
<ion-content class="main--container">
    <ion-row class="background--section--infinite ion-no-padding">
        <ion-col size="12">
            <ion-text class="title--section">Peliculas en estreno</ion-text>
        </ion-col>
        <ion-col size="12">
            <ion-slides class="slider--movies" pager="false" [options]="slideOpts" (ionSlideReachEnd)="loadNowData($event)">
                <ion-slide *ngFor="let item of nowMovies" (click)="goToDetail(item)">
                    <img [src]="item.full_poster_path" class="now--img--layout">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row class="background--section--infinite ion-no-padding">
        <ion-col>
            <ion-text class="title--section">Peliculas más populares</ion-text>
            <ion-row class="d-flex horizontal-center ion-no-padding">
                <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="10" size-xs="12"
                    class="card--layout ion-no-padding" *ngFor="let item of popularMovies" (click)="goToDetail(item)">
                    <img [src]="item.full_backdrop_path" class="img--layout">
                    <ion-text size="12" class="ion-text-center text--layout">{{item.title}}</ion-text>
                </ion-col>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPopularData($event)">
                    <ion-infinite-scroll-content class="loading--spinner" loadingSpinner="circular"
                        loadingText="Cargando..">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>