  <ion-nav *ngIf="(currentUser$ | async) as user" class="header--navbar">
    <ion-row *ngIf="user.isLogged">
          <ion-col class="d-flex vertical-center horizontal-end">
            <ion-text class="text--userinfo">Hola {{user.firstName}} {{user.lastName}}</ion-text>
            <ion-chip>
              <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label (click)="logout()">Cerrar Sesión</ion-label>
            </ion-chip>
          </ion-col>
    </ion-row>
  </ion-nav>
  