.detail--main--container {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    --background-color: #2D3436;
    --background: linear-gradient(315deg, #2D3436 0%, #000000 74%);
    --padding-start: 30px;
    --padding-end: 30px;
    @media (max-width: 568px) {
        --padding-start: 0;
        --padding-end: 0;
    }
}
.vertical-row {
    display: block;
}

.vertical--align {
    display: flex;
    align-items: center;
}

.apple--font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card--actor {
    padding: 15px;
    .card--actor--text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}

.movie--title {
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
}

.poster--image {
    max-width: 500px;
}

.backdrop--image {
    border-radius: 4px;
}


.card--image--actor {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.actor--image {
    width: 100%;
    min-width: 150px;
    max-width: 250px;
}