<app-menu-header></app-menu-header>
<ion-content class="detail--main--container">
    <ion-row class="vertical-row">
        <ion-col>
            <ion-row>
                <ion-col>
                    <ion-text class="apple--font movie--title">{{movieData.title}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col class="ion-text-center">
            <ion-row>
                <ion-col class="d-flex horizontal-center">
                    <img [src]="movieData.full_poster_path" class="poster--image">
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-card>
        <ion-row>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <ion-row>
                    <ion-col>
                        <img width="100%"[src]="movieData.full_backdrop_path" class="backdrop--image">
                    </ion-col>
                </ion-row>

            </ion-col>
            <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="vertical--align">
                <ion-row>
                    <ion-col>
                        <ion-text class="ion-text-justify apple--font">{{movieData.overview}}</ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-row class="vertical-row">
        <ion-col>
            <ion-text class="apple--font movie--title">Reparto</ion-text>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-col size-xl="2" size-lg="4" size-md="6" size-sm="8" size-xs="12" class="card--image--actor" *ngFor="let item of actorData">
                    <ion-card class="card--actor">
                        <img [src]="item.profile_path" class="actor--image">
                        <ion-text class="ion-text-center apple--font card--actor--text">{{item.name}}</ion-text>
                    </ion-card>
                </ion-col>

            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>